h1 {
  color: blue; }

a {
  text-decoration: none !important; }

button {
  background: none;
  color: white;
  text-transform: uppercase !important; }

.post-like a .fa-heart {
  color: #fff200; }

.post-like .like .fa-heart {
  color: #333000; }

.button, .h-single .h-holder .share-hold, .h-single .h-holder .post-like, .h-single .h-holder .back {
  background: #1a1a1a;
  width: initial;
  display: inline-block;
  border: 0;
  border-radius: 2px;
  color: #fff;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: 0.046875em;
  line-height: 1;
  padding: 0.84375em 0.875em 0.78125em;
  text-transform: uppercase;
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  transition: 1s ease all;
  z-index: 20; }
  .button:hover, .h-single .h-holder .share-hold:hover, .h-single .h-holder .post-like:hover, .h-single .h-holder .back:hover {
    -webkit-transition: 1s ease all;
    -o-transition: 1s ease all;
    transition: 1s ease all;
    background: #c41a4c; }

.share-hold {
  position: relative;
  z-index: 2; }
  .share-hold .s-holder {
    display: none;
    position: absolute;
    right: -130px;
    top: -14px;
    z-index: -1;
    padding: 0px;
    padding-left: 25px;
    border-radius: 0 20px 20px 0;
    background: white;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row; }
    .share-hold .s-holder a i {
      margin: 0.4em  8px;
      font-size: 1.5em; }
    .share-hold .s-holder a .fa-facebook {
      color: #3b5998; }
      .share-hold .s-holder a .fa-facebook:hover {
        -webkit-transition: 1s ease all;
        -o-transition: 1s ease all;
        transition: 1s ease all;
        color: #1e2e4f; }
    .share-hold .s-holder a .fa-twitter {
      color: #00aced; }
      .share-hold .s-holder a .fa-twitter:hover {
        -webkit-transition: 1s ease all;
        -o-transition: 1s ease all;
        transition: 1s ease all;
        color: #006287; }
    .share-hold .s-holder a .fa-whatsapp {
      color: #25d366; }
      .share-hold .s-holder a .fa-whatsapp:hover {
        -webkit-transition: 1s ease all;
        -o-transition: 1s ease all;
        transition: 1s ease all;
        color: #167c3c; }
    @media screen and (max-width: 600px) {
      .share-hold .s-holder {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        right: -480%;
        top: -580%;
        border-radius: 10px; } }
  .share-hold:hover {
    cursor: pointer; }

.s-show {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

#content {
  margin: 0 !important;
  padding: 0; }

.h-single {
  color: white;
  width: 100%;
  margin: 0 auto;
  background: #6a0e29;
  background-image: url(../images/patas.png);
  background-size: contain; }
  .h-single .logotema {
    display: block;
    margin: 2em auto;
    max-width: 200px; }
  .h-single picture {
    display: block;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative; }
    .h-single picture img {
      width: 100%;
      height: initial; }
    @media screen and (max-width: 600px) {
      .h-single picture {
        height: 250px;
        margin-top: 114px; } }
  .h-single .h-holder {
    position: relative;
    margin: 0 auto;
    padding: 10vh 0;
    width: 80%;
    text-align: center; }
    .h-single .h-holder .main-title {
      font-size: 2em;
      text-transform: uppercase;
      color: white; }
    .h-single .h-holder .title {
      font-size: 1.4;
      font-weight: 100;
      text-transform: capitalize;
      color: white; }
    .h-single .h-holder article {
      max-width: 600px;
      margin: 1em auto; }
    .h-single .h-holder .share-hold, .h-single .h-holder .post-like {
      margin: 1em auto; }
      .h-single .h-holder .share-hold button, .h-single .h-holder .post-like button {
        padding: 0; }
    .h-single .h-holder .share-hold .s-holder {
      top: 0;
      background: black; }
    .h-single .h-holder .back {
      display: block;
      max-width: 500px;
      margin: 0 auto; }

.h-archive {
  color: white;
  width: 100%;
  margin: 0 auto;
  padding-top: 140px;
  background: #6a0e29;
  background-image: url(../images/patas.png);
  background-size: contain; }
  .h-archive .c-holder {
    position: relative;
    margin: 0 auto;
    padding: 10vh 0;
    width: 80%;
    text-align: center; }
    .h-archive .c-holder .logotema {
      display: block;
      margin: 0 auto;
      width: 20vw;
      max-width: 500px; }
      @media screen and (max-width: 600px) {
        .h-archive .c-holder .logotema {
          width: 80%;
          max-width: 400px; } }
    .h-archive .c-holder .main-title {
      font-size: 2.2em;
      text-transform: uppercase;
      color: white;
      line-height: 1em;
      margin: 2em auto; }
      .h-archive .c-holder .main-title span {
        font-size: 0.5em; }
      @media screen and (max-width: 600px) {
        .h-archive .c-holder .main-title {
          margin: 0.8em auto; } }
    .h-archive .c-holder .search-holder {
      margin: 0 auto;
      margin-bottom: 4em;
      max-width: 600px; }
      .h-archive .c-holder .search-holder #ajaxsearchlite1 {
        overflow: visible;
        padding: 1em;
        font-size: 1em; }
      @media screen and (max-width: 600px) {
        .h-archive .c-holder .search-holder #ajaxsearchlite1 {
          padding: 0.2em; } }
    .h-archive .c-holder .p-holder {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .h-archive .c-holder .p-holder article {
        -webkit-flex-basis: 250px;
        -ms-flex-preferred-size: 250px;
        flex-basis: 250px;
        margin: 0.3em;
        position: relative;
        max-width: 250px;
        height: 250px;
        overflow: hidden; }
        .h-archive .c-holder .p-holder article figure {
          position: relative;
          width: 100%;
          height: 100% !important;
          overflow: hidden;
          background: #100206;
          -webkit-transition: 0.6s ease-in-out all;
          -o-transition: 0.6s ease-in-out all;
          transition: 0.6s ease-in-out all; }
          .h-archive .c-holder .p-holder article figure img {
            height: 100%;
            width: inherit;
            max-width: unset; }
          .h-archive .c-holder .p-holder article figure:hover img {
            -webkit-transition: 0.6s ease-in-out all;
            -o-transition: 0.6s ease-in-out all;
            transition: 0.6s ease-in-out all;
            opacity: 0.4; }
        .h-archive .c-holder .p-holder article .p-name {
          position: absolute;
          background-color: rgba(0, 0, 0, 0.392);
          z-index: 4;
          bottom: 0;
          left: 0;
          color: white;
          font-size: 1.5em;
          width: 100%;
          padding: 8px 0; }
      @media screen and (max-width: 600px) {
        .h-archive .c-holder .p-holder {
          width: 100%;
          max-width: unset; }
          .h-archive .c-holder .p-holder article {
            -webkit-flex-basis: 130px;
            -ms-flex-preferred-size: 130px;
            flex-basis: 130px;
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-height: 120px; }
            .h-archive .c-holder .p-holder article .p-name {
              font-size: small;
              line-height: 20px; } }
    @media screen and (max-width: 600px) {
      .h-archive .c-holder {
        width: 90%; } }

.h-ganadores {
  color: white;
  width: 100%;
  margin: 0 auto;
  padding-top: 140px;
  background: #6a0e29;
  background-image: url(../images/patas.png);
  background-size: contain; }
  .h-ganadores .c-holder {
    position: relative;
    margin: 0 auto;
    padding: 10vh 0;
    width: 80%;
    text-align: center; }
    .h-ganadores .c-holder .logotema {
      display: block;
      margin: 0 auto;
      width: 20vw;
      max-width: 500px; }
      @media screen and (max-width: 600px) {
        .h-ganadores .c-holder .logotema {
          width: 80%;
          max-width: 400px; } }
    .h-ganadores .c-holder .main-title {
      font-size: 2.2em;
      text-transform: uppercase;
      color: white;
      line-height: 1em;
      margin: 2em auto; }
      .h-ganadores .c-holder .main-title span {
        font-size: 0.5em; }
    .h-ganadores .c-holder .p-holder {
      background: none !important;
      border: 0; }
      .h-ganadores .c-holder .p-holder .flex-direction-nav a {
        height: 65px; }
        .h-ganadores .c-holder .p-holder .flex-direction-nav a:before {
          color: rgba(255, 255, 255, 0.686); }
      .h-ganadores .c-holder .p-holder article {
        margin: 0 auto;
        width: 600px;
        height: 780px;
        position: relative; }
        .h-ganadores .c-holder .p-holder article .scribble {
          display: none;
          position: absolute;
          z-index: 10;
          top: 0;
          left: 0; }
        .h-ganadores .c-holder .p-holder article .polaroid {
          padding: 40px 0;
          background: url(../images/polaroid.png); }
        .h-ganadores .c-holder .p-holder article figure {
          height: 370px;
          width: 90%;
          margin: 0 auto;
          overflow: hidden;
          background-size: contain;
          background-color: white; }
          .h-ganadores .c-holder .p-holder article figure img {
            width: 100%;
            height: initial !important;
            max-width: unset; }
        .h-ganadores .c-holder .p-holder article .info-holder {
          width: 95%;
          margin: 0 auto;
          padding: 1em 0;
          color: #6a0e29; }
          .h-ganadores .c-holder .p-holder article .info-holder i {
            display: inline-block;
            vertical-align: middle;
            color: #fff200;
            font-size: 2em;
            margin: 0 1em; }
          .h-ganadores .c-holder .p-holder article .info-holder h1 {
            line-height: 1em;
            font-size: 2.5em;
            display: inline-block;
            vertical-align: middle;
            color: #6a0e29; }
            .h-ganadores .c-holder .p-holder article .info-holder h1 img {
              height: 1em;
              margin: 0 8px;
              width: initial;
              display: inline;
              vertical-align: middle; }
          .h-ganadores .c-holder .p-holder article .info-holder h2 {
            margin-top: 20px;
            font-size: 1.8em; }
          .h-ganadores .c-holder .p-holder article .info-holder section {
            width: 80%;
            display: block;
            margin: 0 auto;
            margin-top: 30px;
            max-width: 600px; }
        .h-ganadores .c-holder .p-holder article .button, .h-ganadores .c-holder .p-holder article .h-single .h-holder .share-hold, .h-single .h-holder .h-ganadores .c-holder .p-holder article .share-hold, .h-ganadores .c-holder .p-holder article .h-single .h-holder .post-like, .h-single .h-holder .h-ganadores .c-holder .p-holder article .post-like, .h-ganadores .c-holder .p-holder article .h-single .h-holder .back, .h-single .h-holder .h-ganadores .c-holder .p-holder article .back {
          margin-top: 1em;
          display: inline-block;
          max-width: 250px;
          background: white;
          color: #6a0e29;
          -webkit-transition: 1s ease all;
          -o-transition: 1s ease all;
          transition: 1s ease all;
          border-radius: 2em; }
          .h-ganadores .c-holder .p-holder article .button:hover, .h-ganadores .c-holder .p-holder article .h-single .h-holder .share-hold:hover, .h-single .h-holder .h-ganadores .c-holder .p-holder article .share-hold:hover, .h-ganadores .c-holder .p-holder article .h-single .h-holder .post-like:hover, .h-single .h-holder .h-ganadores .c-holder .p-holder article .post-like:hover, .h-ganadores .c-holder .p-holder article .h-single .h-holder .back:hover, .h-single .h-holder .h-ganadores .c-holder .p-holder article .back:hover {
            -webkit-transition: 1s ease all;
            -o-transition: 1s ease all;
            transition: 1s ease all;
            background: white; }
        @media screen and (max-width: 600px) {
          .h-ganadores .c-holder .p-holder article {
            width: 100%;
            height: auto; }
            .h-ganadores .c-holder .p-holder article .imagen figure {
              height: 200px; }
            .h-ganadores .c-holder .p-holder article .info-holder h1 {
              font-size: x-large; }
            .h-ganadores .c-holder .p-holder article .info-holder h2 {
              font-size: large; }
            .h-ganadores .c-holder .p-holder article .info-holder section div {
              font-size: small; } }

.navigation {
  margin: 30px 0;
  display: block;
  width: 100%; }
  .navigation li {
    display: inline-block;
    padding: 0.1em 1em;
    border: 1px solid white; }
    .navigation li a {
      font-size: 25px;
      color: white; }
  .navigation .active {
    border-color: #fff200; }
    .navigation .active a {
      color: #fff200; }
