@font-face {
    font-family: 'heart';
    src:    url('fonts/heart.eot?wkhu6c');
    src:    url('fonts/heart.eot?wkhu6c#iefix') format('embedded-opentype'),
        url('fonts/heart.ttf?wkhu6c') format('truetype'),
        url('fonts/heart.woff?wkhu6c') format('woff'),
        url('fonts/heart.svg?wkhu6c#heart') format('svg');
    font-weight: normal;
    font-style: normal;
}
.pt-love-it {
	display: inline-block;
	position: relative;
	height: 38px;
	line-height: 38px;
	padding: 0 16px;
	outline: 0;
	background: rgba(0,0,0,0);
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid #a9d8b2;
	vertical-align: bottom;
	white-space: nowrap;
	text-rendering: auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: border-box;
	border-radius: 999em;
	letter-spacing: -0.02em;
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
	margin-top: 1em;
	margin-bottom: 1em;
}
.pt-love-it,
.pt-love-it a {
	color: #57ad68;
	text-decoration: none;
	box-shadow: none;
}
.pt-love-it.has_rated,
.pt-love-it.has_rated a,
.pt-love-it.has_rated:hover,
.pt-love-it.has_rated:hover a {
	background-color: #468c54;
	color: #fff;
	cursor: auto;
}
.pt-love-it:hover,
.pt-love-it:hover a {
	border-color: #57ad68;
	color: #468c54;
}
.pt-love-it > a.love-button {
	border: none;
}
.pt-love-it .love-button:before {
	font-family: 'heart' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e9da";
	margin-right: 3px;
}
.pt-love-it .love-count {
	padding-left: 10px;
}