// colores
$redwine: rgb(106, 14, 41);
$yellow: rgb(255, 242, 0);
$facebook: #3b5998;
$twitter: #00aced;
$whatsapp: #25d366;

h1{
  color: blue; 
}

a{
  text-decoration: none !important; 
}

button{
  background: none;
  color: white;
  text-transform: uppercase !important;
}

// like button
.post-like{
  a{
    .fa-heart{
      color: $yellow;
    }
  }
  .like{
    .fa-heart{
      color: darken($yellow, 40%);
    }
  }
}

.button{
  background: #1a1a1a;
  width: initial;
  display: inline-block;
  border: 0;
  border-radius: 2px;
  color: #fff;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: 0.046875em;
  line-height: 1;
  padding: 0.84375em 0.875em 0.78125em;
  text-transform: uppercase;
  transition: 1s ease all;
  z-index: 20;
  &:hover{
    transition: 1s ease all; 
    background: lighten($redwine, 20%);
  }
}

.share-hold{
  position: relative;
  z-index: 2;
  .s-holder{
    display: none;
    position: absolute;
    right: -130px;
    top: -14px;
    z-index: -1;
    padding: 0px;
    padding-left: 25px;
    border-radius: 0 20px 20px 0;
    background: white;
    flex-flow: row;
    a{
      i{
        margin: 0.4em  8px;  
        font-size: 1.5em;
      }
      .fa-facebook{color: $facebook; &:hover{transition: 1s ease all; color: darken($facebook, 20%);}}
      .fa-twitter{color: $twitter; &:hover{transition: 1s ease all; color: darken($twitter, 20%);}}
      .fa-whatsapp{color: $whatsapp; &:hover{transition: 1s ease all; color: darken($whatsapp, 20%);}}
      
    }
    @media screen and(max-width: 600px){
      flex-flow: column;
      right: -480%;
      top: -580%;
      border-radius: 10px;  
    }
  }
  &:hover{
    cursor: pointer;
  }
}
.s-show{
  display: flex !important;
}

// content-single
#content{
  margin: 0 !important;
  padding: 0;
}

.h-single{
  color: white;
  width: 100%;
  margin: 0 auto;
  background: $redwine;
  background-image: url(../images/patas.png);
  background-size: contain;
  .logotema{
    display: block;
    margin: 2em auto;
    max-width: 200px;
  }
  picture{
    display: block;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    img{width: 100%; height: initial;}
    @media screen and(max-width: 600px){
      height: 250px;
      margin-top: 114px;
    }
  }
  .h-holder{
    position: relative;
    margin: 0 auto;
    padding: 10vh 0;
    width: 80%;
    text-align: center;
    .main-title{
      font-size: 2em;
      text-transform: uppercase;
      color: white;
    }
    .title{
      font-size: 1.4;
      font-weight: 100;
      text-transform: capitalize;
      color: white;
    }
    article{
      max-width: 600px;
      margin: 1em auto;
    }
    .share-hold, .post-like{
      @extend .button;
      margin: 1em auto;
      button{padding: 0;}
    }
    .share-hold{
      .s-holder{
        top: 0;
        background: darken($redwine, 25%);
      }
    }
    .back{
      @extend .button;
      display: block;
      max-width: 500px;
      margin: 0 auto;
    }
  }
}

.h-archive{
  color: white;
  width: 100%;
  margin: 0 auto;
  padding-top: 140px;
  background: $redwine;
  background-image: url(../images/patas.png);
  background-size: contain;
  .c-holder{
    position: relative;
    margin: 0 auto;
    padding: 10vh 0;
    width: 80%;
    text-align: center;
    .logotema{
      display: block;
      margin: 0 auto;
      width: 20vw;
      max-width: 500px;
      @media screen and(max-width: 600px){
        width: 80%;
        max-width: 400px;
      }
    }
    .main-title{
      font-size: 2.2em;
      text-transform: uppercase;
      color: white;
      line-height: 1em;
      margin:2em auto;
      span{
        font-size: 0.5em;
      }
      @media screen and(max-width: 600px){
        margin: 0.8em auto;
      }
    }
    .search-holder{
      margin: 0 auto;
      margin-bottom: 4em;
      max-width: 600px;
      #ajaxsearchlite1{
        overflow: visible;
        padding: 1em;
        font-size: 1em;
      }
      @media screen and(max-width: 600px){
        #ajaxsearchlite1{
          padding: 0.2em;
        }
      }
    }
    // participantes
    .p-holder{
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-flow: row wrap;
      justify-content: flex-start;
      article{
        flex-basis: 250px; 
        margin: 0.3em; 
        position: relative;
        max-width: 250px;
        height: 250px;
        overflow: hidden;
        figure{
          position: relative;
          width: 100%;
          height: 100% !important;
          overflow: hidden;
          background: darken($redwine, 20%);
          transition: 0.6s ease-in-out all;
          img{
            height: 100%;
             width: inherit;
             max-width: unset;
            }
          
          &:hover{
            img{
              transition: 0.6s ease-in-out all;
              opacity: 0.4;
            }
          }
        }
        .p-name{
          position: absolute;
          background-color: rgba(0, 0, 0, 0.392);
          z-index: 4;
          bottom: 0;
          left: 0;
          color: white;
          font-size: 1.5em;
          width: 100%;
          padding: 8px 0; 
        }
      }
      @media screen and(max-width: 600px){
        width: 100%;
        max-width: unset;
        // justify-content: space-around;
        article{
          flex-basis: 130px;
          flex-grow: 1;
          max-height: 120px;
          .p-name{
            font-size: small;
            line-height: 20px;
          }
        }
      }
    }
    @media screen and(max-width: 600px) {
      width: 90%;
    }
  }
}

.h-ganadores{
  color: white;
  width: 100%;
  margin: 0 auto;
  padding-top: 140px;
  background: $redwine;
  background-image: url(../images/patas.png);
  background-size: contain;
  .c-holder{
    position: relative;
    margin: 0 auto;
    padding: 10vh 0;
    width: 80%;
    text-align: center;
    .logotema{
      display: block;
      margin: 0 auto;
      width: 20vw;
      max-width: 500px;
      @media screen and(max-width: 600px){
        width: 80%;
        max-width: 400px;
      }
    }
    .main-title{
      font-size: 2.2em;
      text-transform: uppercase;
      color: white;
      line-height: 1em;
      margin:2em auto;
      span{
        font-size: 0.5em;
      }
    }
    .p-holder{
        background: none !important;
        border: 0;
        .flex-direction-nav{
          a{
            height: 65px;
            &:before{
              color: rgba(255, 255, 255, 0.686);
            }
          }
        }
      article{
        margin: 0 auto;
        width: 600px;
        height: 780px;
        position: relative;
        .scribble{
          display: none;
          position: absolute;
          z-index: 10;
          top: 0;
          left: 0;
        }
        .polaroid{
          padding: 40px 0;
          background: url(../images/polaroid.png);
        }
        figure{
          height: 370px;
          width: 90%;
          margin: 0 auto;
          overflow: hidden;
          background-size: contain;
          background-color: white;
          img{width: 100%; height: initial !important; max-width: unset;}
        }
        .info-holder{
          width: 95%;
          margin: 0 auto;
          padding: 1em 0;
          color: $redwine;
          i{
            display: inline-block;
            vertical-align: middle;
            color: $yellow;
            font-size: 2em;
            margin: 0 1em;

          }
          h1{
            line-height: 1em;
            font-size: 2.5em;
            display: inline-block;
            vertical-align: middle;
            color: $redwine;
            img{height: 1em; margin: 0 8px;width: initial; display: inline; vertical-align: middle;}
          }
          h2{
            margin-top: 20px;
            font-size: 1.8em;
          }
          section{
            width: 80%;
            display: block;
            margin: 0 auto;
            margin-top: 30px;
            max-width: 600px;
          }
        }
        .button{
          margin-top: 1em;
          display: inline-block;
          max-width: 250px;
          background: white;
          color: $redwine;
          transition: 1s ease all;
          border-radius: 2em;
          &:hover{
            transition: 1s ease all;
            background: rgba(255, 255, 255, 1);
          }
        }
        @media screen and(max-width: 600px){
          width: 100%;
          height: auto;

          .imagen{
            figure{
              height: 200px;
            }
          }
          .info-holder{
            h1{font-size: x-large;}
            h2{font-size: large;}
            section div{font-size: small;}
          }
        }
      }
    }
  }
}

.navigation{
  margin: 30px 0;
  display: block;
  width: 100%;
  li{
    display: inline-block;
    padding: 0.1em 1em;
    border: 1px solid white;
    a{
      font-size: 25px;
      color: white;
    }
  }
  .active{
    border-color: $yellow;
    a{
      color: $yellow;

    }
  }
}